$green: #7c9390;
$green-lighter: lighten($green, 20%);
$green-lightest: lighten($green, 30%);
$green-darker: darken($green, 10%);

$tan: #a68e75;
$brown: #464436;

$light-grey: #ced4da;

$background: lighten($tan, 34%);
$background-lighter: lighten($tan, 40%);