@use './fonts';
@use './colors';
@use './widths';

.about {
    display: flex;
    justify-content: center;

    padding-top: 60px;
    min-height: 600px;

    @media (max-width: widths.$break-max-screen-third) {
        flex-direction: column;
    }

    img {
        width: 100%;
    }
}

.about-background {
    background-color: colors.$background-lighter;
    padding: 10px;

    width: 850px;
    max-width: 90%;
}

.about-content {
   padding: 10px;
   min-height: 600px;
}

.about-menu {
    @include fonts.header-medium();
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;

    padding-right: 30px;

    @media (max-width: widths.$break-max-screen-third) {
        flex-direction: row;
        justify-content: space-around;
    }
}
    .about-link {
        padding-bottom: 15px;

        &.active {
            text-decoration: underline;
        }
    }

.image {
    padding: 15px 0;
    margin: 0 auto;

    &.logo {
        width: 30%;
    }

    &.case-study {
        width: 60%;
    }
}