@use './fonts';
@use './colors';

.about {
    display: flex;
    justify-content: center;


    padding-top: 60px;
    min-height: 600px;

}

.about-background {
    background-color: colors.$background-lighter;
    padding: 10px;

    width: 850px;
    max-width: 90%;
}

.about-content {
   padding: 10px;
}

.about-menu {
    @include fonts.header-medium();
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;

    padding-right: 30px;
}
    .about-link {
        padding-bottom: 15px;

        &.active {
            text-decoration: underline;
        }
    }

.logo-image {
    padding: 15px 0;
    margin: 0 auto;
    width: 30%;
}