/** Styling for the d3.js AddressGraph **/
@use "sass:math";
@use "./colors";
@use "./widths";

/** Components **/

#address-graph {
    display: flex;
    
    .center-column {
        width: 75vw;
    }

            
    @media (max-width: widths.$break-max-screen-third) {
        flex-direction: column;

        .center-column {
            width: 95vw;
        }
     }
}

#d3 {
    border: 1px solid colors.$green;
}

/** Address Graph **/

.background {
    fill: colors.$background-lighter;

    width: 100%;
    height: 100%;
}

.china {
    stroke: colors.$brown;
    fill: colors.$background-lighter;
    opacity: 0.9;

    stroke-width: 0.3px;
}

.edmonton {
    &.cemetery {
        fill: none;
        stroke: colors.$green-lighter;
        opacity: 0.5;
    }

    &.river {
        fill: none;
        stroke: lightskyblue;
    }
}

.connection {
    pointer-events: none;
}

.node {
    cursor: pointer;

    &.headstone {
        fill: rgba(255, 255, 255, 0.75);
    }
}


/** Toggle Buttons **/

.toggle-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggle-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.9rem;
    
    padding: 5px;
}

.toggle-text {
    margin-left: 5px;
}

input.toggle {
    $size: 40px;


    display: none;

    & + label {
        border: 1px solid colors.$green-lighter;

        font-size: 0rem;
        
        display: block;
        position: relative;

        cursor: pointer;
        outline: none;
        user-select: none;

        padding: 2px;
        width: $size;
        height: math.div($size, 2);
        background-color: #dddddd;
        border-radius: math.div($size, 2);

        &:before, &:after {
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            bottom: 1px;
            content: "";
        }

        &:before {
            right: 1px;
            background-color: colors.$light-grey;
            border-radius: math.div($size, 2);
            transition: background 0.3s;
        }

        &:after {
            // The toggle knob
            
            width: math.div($size, 2);
            background-color: white;
            border-radius: 100%;
            border: 1px solid colors.$green-lighter;
            // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            transition: margin 0.1s;
        }
    }

    &:checked + label:before {
        background-color: colors.$green;
    }

    &:checked + label:after {
        margin-left: math.div($size, 2);
    }
}
