@use './_colors';
@use './_fonts';

/** Widths **/
@mixin centered($max-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width
}

@mixin default-width() {
    @include centered(95%);
}

/** Standard Elements **/

body {
    @include fonts.body-regular();
    
    margin: 0px;
    background-color: colors.$background;
}

h1 {
    @include fonts.header-bold();
    font-size: 2.4rem;
}

a {
    color: colors.$green-darker;
    text-decoration: none;

    &:hover {
        color: colors.$green;
        text-decoration: underline;
    }
}

a#home {
    display: flex;
    align-items: center;

    &:hover > #site-logo > svg{
        .border { stroke: colors.$tan;}
        .left { fill: colors.$green;}
    }

    #site-logo {
        margin-right: 15px;

        $logo-size: 75px;

        width: $logo-size;
        height: $logo-size;
    
        svg {
            .border { stroke: colors.$green; fill: white; stroke-width: 30px; }
            .left { fill: colors.$tan; }
            .right { fill: colors.$brown; }
        }
    }
}


nav {
    display: flex;
    align-items: center;

    justify-content: space-between;

    @include fonts.header-medium();
    font-size: 1.5rem;

    padding-bottom: 10px;

    border-bottom: colors.$tan solid 1px;

    @include default-width();
    margin-top: 5px;

    #menu {
        display: flex;
        align-items: center;
        
        justify-content: space-between;

        a:first-child {
            margin-right: 15px;
        }

        .social {
            $icon-size: 24px;

            width: $icon-size;
            height: $icon-size;

            svg {
                width: $icon-size;
                height: $icon-size;
            }
        }
    }
}

main {
    padding-top: 10px;
    // padding-bottom: 5px;

    @include default-width();
}

footer {
    @include default-width();

    position: absolute;
    
    left: 0;
    right: 0;

    @include fonts.header-medium();
}

/** Animation **/

.fade-in {
    animation: fade-in 0.4s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}