@use './colors';
@use './fonts';
@use './widths';

/** Widths **/
@mixin centered($max-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width
}

@mixin default-width() {
    @include centered(95%);
}

/** Standard Elements **/
html {
    scroll-behavior: smooth;
}


body {
    @include fonts.body-regular();
    
    margin: 0px;
    background-color: colors.$background;

    position: relative;
    min-height: 100vh;
}

h1 {
    @include fonts.header-bold();

    font-size: 2.4rem;

    @media (max-width: widths.$break-max-screen-third) {
        font-size: 2.0rem;
    }

    @media (max-width: widths.$break-max-phone-vertical) {
        font-size: 1.8rem;
    }
}

a {
    color: colors.$green-darker;
    text-decoration: none;

    &:hover {
        color: colors.$green;
        text-decoration: underline;
    }
}

main {
    padding-bottom: 2.0rem;
}

a#home {
    display: flex;
    align-items: center;

    &:hover > #site-logo > svg{
        .border { stroke: colors.$tan;}
        .left { fill: colors.$green;}
    }

    #site-logo {
        margin-right: 15px;

        $logo-size: 75px;

        width: $logo-size;
        height: $logo-size;
    
        svg {
            .border { stroke: colors.$green; fill: white; stroke-width: 30px; }
            .left { fill: colors.$tan; }
            .right { fill: colors.$brown; }
        }
    
        @media (max-width: widths.$break-max-phone-vertical) {
            margin-right: 5px;
        }
    }
}


nav {
    display: flex;
    align-items: center;

    justify-content: space-between;

    @include fonts.header-medium();
    font-size: 1.5rem;

    padding-bottom: 10px;

    border-bottom: colors.$tan solid 1px;

    @include default-width();
    margin-top: 5px;

    #menu {
        display: flex;
        align-items: center;
        
        justify-content: space-between;

        a {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }

        .social {
            $icon-size: 24px;

            width: $icon-size;
            height: $icon-size;

            svg {
                width: $icon-size;
                height: $icon-size;
            }
        }
    }

    @media (max-width: widths.$break-max-phone-vertical) {
        font-size: 1.0rem;

        #menu > a {
            margin-right: 8px;
        }

    }
}

main {
    padding-top: 10px;
    // padding-bottom: 5px;

    @include default-width();
}

footer {
    @include default-width();

    position: absolute;
    
    left: 0;
    right: 0;
    bottom: 0;

    height: 2.0em;

    @include fonts.header-medium();
}

/** Animation **/

.fade-in {
    animation: fade-in 0.4s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}